.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  overflow-y: auto;
  background: transparentize(black, 0.4);
}

.transparent {
  composes: backdrop;
  background: transparent;
}
