$light-grey: #d5d5d5;

.btn {
  background: $light-grey;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border: none;
  outline: none;
  border-radius: 0.125rem;

  &:hover {
    background: darken($light-grey, 10%);
    cursor: pointer;
  }

  &:active {
    background: darken($light-grey, 20%);
  }
}
